<!DOCTYPE html>
<html>
  <head>
    <title>Space Events</title>
    <link rel="stylesheet" type="text/css" href="space-events.component.css">
  </head>
  <body>
    <header>
      <h1>Space Events</h1>
    </header>
    <main>
      <div class="event">
        <img src="https://i.ibb.co/ZcNzNgT/moon-landing.png" alt="First Man on the Moon Icon">
        <h2>First Man on the Moon</h2>
        <p>July 20, 1969</p>
      </div>
      <div class="event">
        <img src="https://i.ibb.co/njKLf97/space-shuttle.png" alt="Launch of the Space Shuttle Icon">
        <h2>Launch of the Space Shuttle</h2>
        <p>April 12, 1981</p>
      </div>
      <div class="event">
        <img src="https://i.ibb.co/F0xmfzk/mars-rover.png" alt="Mars Rover Landing Icon">
        <h2>Mars Rover Landing</h2>
        <p>July 4, 1997</p>
      </div>
      <div class="event">
        <img src="https://i.ibb.co/mHmT0hS/satellite.png" alt="Launch of First Satellite Icon">
        <h2>Launch of First Satellite</h2>
        <p>October 4, 1957</p>
      </div>
      <div class="event">
        <img src="https://i.ibb.co/RgR0M0R/international-space-station.png" alt="Establishment of the International Space Station Icon">
        <h2>Establishment of the International Space Station</h2>
        <p>November 20, 1998</p>
      </div>
      <div class="event">
        <img src="https://i.ibb.co/Kjr5v2Q/space-x-launch.png" alt="SpaceX Falcon Heavy Launch Icon">
        <h2>SpaceX Falcon Heavy Launch</h2>
        <p>February 6, 2018</p>
      </div>
    </main>
  </body>
</html>